<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="Adriano Barbosa" />
		<title>{{ page.title }}</title>
		<link type="text/css" href="/css/page-style.css" rel="stylesheet" />
	</head>
	<body>
		<div id="content">
			<div id="header"><h1><a href="/">my github repos</a></h1></div>
			<div id="body">{{ content }}</div>
			<div id="footer">contact me: <img id="email-img" src="/contact.png"></div>
		</div>
	</body>
</html>
